body{
    margin: 0;
}

header{
    padding: 16px;
    background-color: #FFBACD;
    color: white;
    text-align: center;
}

#menu {
    padding: 32px;
    background-color:darkorange ;
}

nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

#main-content{
    padding: 32px;
}

footer {
    padding: 16px;
    background-color:#FFBACD;
    color: white;
    font-weight: bold;
    text-align: center;
    grid-area: footer;
}

#grid-container{
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
    grid-template-columns: 3fr 7fr;
}